body {
	position: relative;
}

dialog {
	margin-top: 10rem;
	border-radius: 5px;
	border-color: #888;
	min-width: 10rem;
	max-width: 50%;
}
::backdrop {
	background-color: #222;
	opacity: 0.75;
}
.dbutts {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
	gap: .5rem;
}
.alrt .canbut {
	display: none;
}

h2 i.fa {font-size:1rem}
nav {font-size:larger;}
nav img {vertical-align:text-bottom;}
nav i {font-size: medium; float: right}
gver {display: none}
.folds, .imgs {
	clear:both;
	margin-top:1rem;
}
.folds, .imgs {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
}
.imgs a {
	position: relative;
}
.fold {
	position:relative;
/*	float:left;
	margin:0 16px 16px 0;
	padding:0 8px;
	border:2px solid #CCEEFF*/
}
.fold span {
	position:absolute;
	top:50%;
	left:50%;
	font-size: large;
	text-align: center;
	transform:translate(-50%,-40%);
}
.fname {
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 8px;
}
.dlgElems {
	display: grid;
}
.mbox {
	float:left;
	margin:0 16px 16px 0;
	padding: 0 8px;
	border:1px solid #EEEEEE;
	text-align:center;
}
.mdya {
	background-image:url(../css/avback.png);
	background-color:lightcyan;
}
.mbox img {height:96px;}
.aimg {
	background-image:url(../css/back1.png);
}
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
	width: 100%;
	height: 100%;
}
.fancybox-slide--iframe .fancybox-content {
	min-height : 400px;
	max-width  : 80%;
	max-height : 80%;
	margin: 0;
	background-color: transparent;
}
