body {
	color: #EEE;
	background-color: #111;
}
dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.4);
}

nav a:link { color: lightskyblue; }
nav a:visited { color: lightskyblue; }
nav {
	border-top: 1px dotted #AAA;
	padding-top: .75rem;
}
.acmds .fa-trash {
	color: coral;
	margin-left: .5rem;
}

textarea {
	width: 100%;
	box-sizing: border-box;
}
.imgs img {
	border: 1px solid #AAA;
}

.fname {
	color: #e1e1e1;
}

.upFold {
	background-color: #555;
}