nav {
	font-size:larger;
	padding-top: .75rem;
	border-top: 1px solid #CCC;
}
dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.4);
}
.acmds .fa-trash {
	color:coral;
	margin-left:.5rem;
}
textarea {
	width: 100%;
}

.folds, .imgs {
	clear:both;
	margin-top:1rem;
}
.mbox {
	float:left;
	margin:0 16px 16px 0;
	padding: 0 8px;
	border:1px solid #EEEEEE;
	text-align:center;
}
.mdya {
	background-image:url(css/avback.png);
	background-color:lightcyan;
}
.mbox img {height:96px;}
.aimg {
	background-image:url(css/back1.png);
}
.fancybox-slide--iframe .fancybox-content {
	min-height : 400px;
	max-width  : 80%;
	max-height : 80%;
	margin: 0;
	background-color: transparent;
}

.upFold {
	background-color: aliceblue;
}